# 📁 requirements.txt
langchain
langchain-community
langchain-huggingface
langchain-openai
chromadb
pdfplumber
streamlit
python-dotenv
tqdm
streamlit-timeline
pytesseract
pillow
tabulate
langchain-core
pandas
requests
beautifulsoup4
selenium
googlesearch-python
docling
torch