# 📁 requirements.txt
langchain~=0.3.26
langchain-community~=0.3.27
langchain-huggingface
langchain-openai~=0.3.27
chromadb
pdfplumber>=0.10.0
streamlit~=1.46.1
python-dotenv~=1.1.1
tqdm~=4.67.1
streamlit-timeline
pytesseract~=0.3.13
pillow~=11.3.0
tabulate
langchain-core~=0.3.68
pandas~=2.3.1
requests~=2.32.4
beautifulsoup4~=4.13.4
selenium~=4.34.2
googlesearch-python
docling